@model List<Pizzeria_InForno.Models.Ordini>

<div class="container">
    <h1 class="myTextColor mt-3">Riepilogo Ordini</h1>
    <div class="row row-cols-1">
        @foreach (var ordine in Model)
        {
            <div class="col mt-3">
                <div class="card myBorder">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Ordine N°: @ordine.IdOrdine</h5>  
                            <p class="card-text">Indirizzo di Spedizione: @ordine.IndirizzoSpedizione</p>
                            @* <p class="card-text">Data Ordine: @ordine.DataOrdine</p> *@
                            <p class="card-text">Prezzo Totale: @ordine.Totale</p>
                            <p class="card-text">Data: @ordine.DataOrdine</p>
                            @if (ordine.IsConsegnato)                         
                            {
                                <p class="card-text text-success">Consegnato</p>
                            }
                            else
                            {
                                <p class="card-text text-warning">Non Consegnato</p>                                              
                            }

                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between">
                            @if (ordine.IsConsegnato)
                            {
                                
                                <a class="btn btn-sm btn-warning" asp-action="DettagliOrdine" asp-controller="Utenti" asp-route-idOrdine="@ordine.IdOrdine">Dettagli</a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-warning" asp-action="DettagliOrdine" asp-controller="Utenti" asp-route-idOrdine="@ordine.IdOrdine">Dettagli</a>
                                <a class="btn btn-sm btn-outline-danger me-2" asp-action="DeleteOrdine" asp-controller="Utenti" asp-route-idOrdine="@ordine.IdOrdine">Elimina</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

                          
    </div>
</div>
